{% extends "./base.html" %}
{% block title %}{{ entreprise.name }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card mb-4">
            {% with entreprise.photos.first as photo %}
                {% if photo and photo.image %}
                    <img src="{{ photo.image.url }}" class="card-img-top w-50" alt="{{ photo.legend }}">
                {% else %}
                    <img src="../../media/photos_entreprise/default-image.jpg" class="card-img-top w-50"
                         alt="Aucune image">
                {% endif %}
            {% endwith %}
            <div class="card-body">
                <h2 class="card-title">{{ entreprise.name }}</h2>
                <p><strong>SIRET :</strong> {{ entreprise.siret_number }}</p>
                <p><strong>Adresse :</strong> {{ entreprise.adress }}</p>
            </div>
        </div>

        <h3>Offres disponibles</h3>
        <div class="list-group">
            {% for annonce in annonces %}
                <div class="list-group-item mb-3">
                    <h5>{{ annonce.title }}</h5>
                    <p>{{ annonce.description }}</p>
                    {% if user.is_authenticated %}
                        {% if entreprise.owner_id == user.id %}
                            {% if annonce.candidatures.all.exists %}
                                <p><strong>Candidatures reçues :</strong></p>
                                <ul>
                                    {% for candidature in annonce.candidatures.all %}
                                        <li>
                                            <a href="{% url 'profil_candidat' candidature.client.id %}">
                                                {{ candidature.client.user.username }}
                                            </a> - {{ candidature.status }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Aucune candidature reçue pour cette annonce.</p>
                            {% endif %}

                        {% else %}

                            {% if annonce.id in annonces_deja_postulees %}
                                <button class="btn btn-secondary" disabled>Déjà postulé</button>
                            {% else %}
                                <button type="button" class="btn btn-primary"
                                        onclick="openPostulerModal({{ annonce.id }})">Postuler
                                </button>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <p class="text-danger">
                            <a href="{% url 'connexion' %}">Connectez-vous</a> pour postuler à cette offre.
                        </p>
                    {% endif %}
                </div>
            {% empty %}
                <p>Aucune offre pour le moment.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
