{% extends "./base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>{{ title }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Informations de l'entreprise</h4>
            {{ form.as_p }}

            <h4 class="mt-4">Photo de l'entreprise</h4>
            {{ p_form.as_p }}

            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{% url 'account' %}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
{% endblock %}
